<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input formControlName="price" matInput placeholder="$ 0">
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary">Guardar</button>
</form>